@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Rubik:wght@800;900&family=Quicksand:wght@400;500;600;700&display=swap');

@theme {
  --font-rubik: "Rubik", sans-serif;
  --font-quicksand: "Quicksand", sans-serif;
  --font-archivo: "Archivo Black", sans-serif;
  
  --color-brand-blue: #2238FF;
  --color-brand-light: #5F76FF;
  --color-brand-lime: #B7D90C;
  --color-brand-dark: #4F4F4F;
}

body {
  @apply font-quicksand bg-white text-brand-dark;
}

h1, h2, h3 {
  @apply font-archivo uppercase tracking-tighter;
}

